@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.advert-item {
    margin: 20px 20px 20px 20px;
    width: 100%;
    background-color: grey;
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
}
.advert-item .question {
    font-size: 12px;
    margin: 20px 0 0 20px;
}
.advert-item .data {
    margin: 5px 0 0 20px;
}
.advert-item .image-block {
    /* width: 100%;
    margin-top: 10px;
    position: relative;
    padding-top: 65%;
    display: flex;
    justify-content: center;
    align-items: center; */
    background: url('/src/Images/advert2.png') no-repeat center center /contain rgba(128, 128, 128, 1);
    /* background-size: auto auto; */
}
.advert-item .claim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 150%;
    color: orangered;
    background-color: rgba(211, 211, 211, 0.4);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.advert-item .image {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    height: 100%;
    width: 100%;

}
.advert-item .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advert-item .button {
    height: 30px;
    display: flex;
    align-items: center;
    list-style: none;
    background-color: lightgrey;
    padding: 10px 30px;
    /* border: 2px solid darkblue;  */
    border-radius: 34px;
    margin: 0 20px;
    cursor: pointer;   
    margin: 20px 0;
}